<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div id="scope-list">
            <ul>
                {{range .Scopes}}
                <li class="scope">
                    <span class="scope-description">{{.Description}}</span>
                </li>
                {{end}}
            </ul>
        </div>
        <form method="POST" action="/approval?{{.Parameters}}">
            <input name="expiration_time" type="hidden" value="{{.ExpirationTime}}">
            <input name="signature" type="hidden" value="{{.Signature}}">
            <input name="cancel" type="submit" value="Cancel">
            <input name="accept" type="submit" value="Accept">
        </form>
    </body>
</html>
